html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.tuit-card {
  border-radius: 20px;
  background-color: rgb(225, 225, 225);
  padding: 20px;
  margin: 10px;
  white-space: wrap;
  overflow: hidden;
}

.tuit-card__text {
  font-size: 20px;
}
.tuit-card__date,
.tuit-card__likes {
  font-size: 14px;
}
